################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/repos/v17/.wsuo
/.vs/DriverMod/FileContentIndex/05b27eae-bd48-4537-a49a-14073a06c005.vsidx
/.vs/DriverMod/FileContentIndex/bc921d21-15cc-40fa-a24a-1922485d896d.vsidx
/.vs/DriverMod/FileContentIndex/b29c4c18-a21a-473f-8dfb-0a21dfed5900.vsidx
/.vs/DriverMod/FileContentIndex/f3ad3ce3-695f-4bc6-bafb-c70641451ac4.vsidx
/.vs/DriverMod/FileContentIndex/25db4ec8-5efd-4b10-94f9-53ed4bd6b394.vsidx
/.vs/DriverMod/FileContentIndex/c2ff4073-def6-497b-927b-55d210058d88.vsidx
/.vs/DriverMod/FileContentIndex/fc80779e-4851-48bb-af25-1a36d190c52f.vsidx
/.vs/DriverMod/FileContentIndex/00e54e9e-7efc-47e4-b778-3faafbb379dc.vsidx
/.vs/DriverMod/FileContentIndex/e9a80f97-ea96-4081-bc56-93a54937a23a.vsidx
/.vs/DriverMod/FileContentIndex/baae3e19-f5ea-4f62-98a0-454382068f45.vsidx
/.vs/DriverMod/FileContentIndex/4b2df0a9-483c-4d49-8f35-7a4dad8283ea.vsidx
/.vs/DriverMod/FileContentIndex/c902554e-8404-4106-a613-58de54bfb11e.vsidx
/.vs/DriverMod/FileContentIndex/074a28e5-a896-42ee-bde5-b275f36cd677.vsidx
/.vs/DriverMod/FileContentIndex/7075dd54-64c8-4e8b-908c-655d815e0697.vsidx
/.vs/DriverMod/FileContentIndex/b98dce31-69f8-41a5-a266-d44f93e4af3d.vsidx
*.vsidx
